<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <style>
            input[type="text"] {
                width: 800px;
            }
            body {
                font-family: sans-serif;
            }
            input[type="submit"] {
                padding: 8px 30px;
                position: fixed;
                right: 73px;
            }
        </style>
        <script>
            
        </script>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>